/* google font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} 
.inter-font {
  font-family: "Inter", sans-serif;
  font-size: 1.38rem;
}
/* shared style */
.display-flex{
    display: flex;
}
.text-orange{
    color: #E95A08;
}
/* header items style */
header{
    width: 80%;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin-top: 30px;
}
.nav-list li{
    list-style: none;
    margin-left: 48px;
}
.bold-16{
    font-weight: bold;
}
.nav-list-gray{
    color: #8987A1;
}
/* banner items style */
.banner{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.banner h1{
    font-size: 4rem;
    margin-bottom: 13px;
}
.banner-image img{
    width: 100%;
}
/* main related style */
main{
    width: 80%;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
    width: 100%;
}
/* plant items style */
.plant-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}
.plant-content{
    text-align: center;
    justify-content: center;
}
.plant-card{
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
}
.plant-card img{
    width: 100%;
}
.plant-content h2{
    font-size: 3.12rem;
}
.usd-20{
    font-weight: bold;
    font-size: 1.38rem;
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn-plant{
    background-color: #E95A08;
    padding: 20px 80px;
    width: 100%;
    border: none;
    color: white;
    font-weight: 600;
}

/* responsive codes area */
@media screen and (max-width:576px) {
    .home, .shop, .about{
        visibility: hidden;
    }
    .nav-list{
        flex-direction: column;
    }
    .banner{ 
        grid-template-columns: repeat(1, 1fr);
    }
    .plant-card-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}